.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont,
.layui-icon {
    margin-right: 8px;
}

.layui-icon {
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

a {
    transition: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    /* 禁止内容被选中 */
    user-select: none;
    /* border-bottom: 1px solid red; */
}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #282b33;
}

.text-avatar {
    position: relative;
    top: 4px;
    margin-right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    background-color: #009688;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}